NODE_ENV="development"
PORT=5000
DATABASE_URL=""
CORS_ORIGIN="http://localhost:5173"
HOST_NAME="0.0.0.0"
JWT_ACCESS_SECRET=""
APPWRITE_ENDPOINT=""
APPWRITE_PROJECT_ID=""
APPWRITE_API_KEY=""
APPWRITE_BUCKET_ID=""
APPWRITE_BUCKET_NAME=""